{% extends "base.html" %}

{% block content %}

<h2>Mark Attendance</h2>

<form method="post">

    <!-- CLASS / SESSION / SHIFT -->
    <label>Class / Program</label>
    <select name="class" required>
        <option value="">Select Class</option>
        <option value="BSCS">BSCS</option>
        <option value="BSIT">BSIT</option>
        <option value="BSSE">BSSE</option>
    </select>

    <label>Session</label>
    <select name="session" required>
        <option value="">Select Session</option>
        <option value="2021-2025">2021–2025</option>
        <option value="2022-2026">2022–2026</option>
        <option value="2023-2027">2023–2027</option>
    </select>

    <label>Shift</label>
    <select name="shift" required>
        <option value="">Select Shift</option>
        <option value="Morning">Morning</option>
        <option value="Evening">Evening</option>
    </select>

    <label>Subject Name</label>
    <input type="text" name="subject" placeholder="Enter subject name" required>

    <hr>

    <table>
        <tr>
            <th>Name</th>
            <th>Roll No</th>
            <th>Status</th>
        </tr>

        {% for s in students %}
        <tr>
            <td>{{ s.name }}</td>
            <td>{{ s.roll_no }}</td>
            <td>
                <select name="status_{{ s.id }}">
                    <option value="Present">Present</option>
                    <option value="Absent">Absent</option>
                </select>
            </td>
        </tr>
        {% endfor %}
    </table>

    <br>

    <button type="submit">Submit Attendance</button>

</form>

<hr>

<a href="{{ url_for('teacher_dashboard') }}">⬅ Back to Dashboard</a>

{% endblock %}
